@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #CBD5E1; border-radius: 4px; }
.dark ::-webkit-scrollbar-thumb { background: #475569; }
body { font-family: 'Inter', sans-serif; }
